body {
	background-color: #192B34;
}
.container {
	margin: 0 auto;
	width: 70%;
	
}

.big-letter {
	font-size: 50px;
	
}

.landing-page {	
}

.page {
	height: 600px;	
	background-color: #F0FFFF;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 40px;	
}

