body {
    background-color: #192B34;
}

.container {
    margin: 0 auto;
    width: 70%;
    color: cyan;
}

.big-letter {
    font-size: 50px;
}

.landing-page {
    background: url(../img/bg-landingpage.svg) no-repeat center ;
}

.second-page {
    background: url(../img/bg-secondpage.svg) no-repeat center ;
}

.page {       
    padding: 20px;
    margin-bottom: 40px;
    background-position: inherit;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1,h2,h3,h4 {
    font-family: 'zenai itachi';
    font-size: 36px;
  
}
p {
    font-family: 'Book Antiqua';
    color: white;
    font-size: 18px;
}

@font-face {
    font-family: 'zenai itachi';
    src:url('../fonts/cinnamon cake.ttf');
}
